section{

    display: flex;
/*main axis */
    justify-content: flex-start;
    /* space-evenly */

/* cross axis */
    align-items: center;

    /* direc */
    flex-direction: row-reverse;

    /* wrap */
    flex-wrap: wrap;

    /* align content */
    align-content: center;

    
}


/* flex grow */
div:nth-of-type(2){

    flex-grow: 1;
    flex-shrink: 2;
/* allocate space */
    flex-basis: 400px;
}